In [1]:
import pandas as pd
import requests
import json
import io
import csv, re
import numpy as np

In [2]:
token = 'https://arquivos.b3.com.br/api/download/requestname?fileName=InstrumentsConsolidated&date=2020-06-26&recaptchaToken='
r = requests.get(token)
vJson = json.loads(r.content)
vJson['token']
optionList = 'https://arquivos.b3.com.br/api/download/?token={}'.format(vJson['token'])
r1 = requests.get(optionList)

data = r1.content.decode("ISO-8859-1").splitlines()
df = pd.DataFrame(data) 
df1=df.copy()

In [98]:
df1=df.copy()
df1.dropna(inplace = True) 
df1 = df1.applymap(str)
df1 = pd.DataFrame(df1)
df1 = df1[0].str.split(";", n = 100, expand = True)
df1.columns = df1.iloc[0]
df1 = df1[1:]
df1 = df1.reset_index()
df1.drop("index", axis = 1, inplace=True)

df2 = df1[["TckrSymb", "Asst", "SgmtNm", "SctyCtgyNm", "XprtnDt", "TradgEndDt", "OptnTp", "ExrcPric", "OptnStyle"]]
df2 = df2[df2['SctyCtgyNm']=='OPTION ON EQUITIES']
df2['ExrcPric'] = [x.replace(',', '.') for x in df2['ExrcPric']]
df2['ExrcPric'] = df2['ExrcPric'].astype(float)

In [161]:
df3=df2.groupby(['Asst', 'OptnTp', 'TradgEndDt', 'TckrSymb', 'OptnStyle'])[['ExrcPric']].mean()

In [163]:
df3

0                                           ExrcPric
Asst  OptnTp TradgEndDt TckrSymb OptnStyle
ABEV3 Call   2020-07-20 ABEVG10  AMER          10.08
                        ABEVG11  AMER          11.08
                        ABEVG120 AMER          12.08
                        ABEVG130 AMER          13.08
                        ABEVG14  AMER          14.08
...                                              ...
YDUQ3 Put    2020-10-19 YDUQV297 EURO          29.75
                        YDUQV365 EURO          36.50
                        YDUQV430 EURO          43.00
             2020-12-21 YDUQX430 EURO          42.49
                        YDUQX505 EURO          49.99

[19304 rows x 1 columns]